.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 48px 0;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 24px;
    color: var(--light-blue);
    font-size: 24px;
}