@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

.title {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
}

.subtitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}