.container {
    margin-top: 281px;
}

.buttons {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 5rem;
}

.container::before {
    content: "";
    width: 546px;
    height: 546px;
    border-radius: 546px;
    background: #091158;
    filter: blur(150px);
    position: absolute;
    left: -3em;
    top: 3em;
}

.content {
    position: relative;
    z-index: 1;
}

.text {
    max-width: 587px;
}

.title {
    margin-bottom: 48px;
}

.subtitle {
    max-width: 412px;
}

.map {
    position: absolute;
    max-width: 80vw;
    top: 2em;
    right: -6em;
}